<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-energized">
      <div class="title">Conference XXX</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="conferenceXXX-list1">
        <ion-item class="item-icon-left royal" id="conferenceXXX-list-item1" ui-sref="conferenceXXX.conferenceGSKOnco2016" menu-close="">
          <i class="icon ion-ios-calendar"></i>Schedule
          <ion-option-button class="button-positive">tyrytr</ion-option-button>
        </ion-item>
        <ion-item class="item-icon-left royal" id="conferenceXXX-list-item2" ui-sref="conferenceXXX.speakers" menu-close="">
          <i class="icon ion-ios-people"></i>Speakers</ion-item>
      </ion-list>
      <ion-list id="conferenceXXX-list2">
        <ion-item class="item-icon-left royal" id="conferenceXXX-list-item4" ui-sref="conferenceXXX.signup" menu-close="">
          <i class="icon ion-android-map"></i>Location</ion-item>
        <ion-item class="item-icon-left royal" id="conferenceXXX-list-item5" ui-sref="conferenceXXX.testPage" menu-close="">
          <i class="icon ion-social-twitter"></i>Twitter</ion-item>
        <ion-item class="item-icon-left royal" id="conferenceXXX-list-item6" href="#" onclick="window.open('page3', '_system', 'location=yes'); return false;">
          <i class="icon ion-social-linkedin"></i>LinkedIn</ion-item>
        <ion-item class="item-icon-left royal" id="conferenceXXX-list-item3" href="#" onclick="window.open('page7', '_system', 'location=yes'); return false;">
          <i class="icon ion-information-circled"></i>About</ion-item>
      </ion-list>
      <ion-list id="conferenceXXX-list6">
        <ion-item class="item-icon-left royal" id="conferenceXXX-list-item10" ui-sref="conferenceXXX.login" menu-close="">
          <i class="icon ion-log-in"></i>SignIn</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>