<ion-view title="Speakers" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="speakers-list5">
      <ion-item class="item-avatar energized" id="speakers-list-item7">
        <img src="img/PJ">
        <h2energized>Princess Jasmine</h2energized>
      </ion-item>
      <ion-item class="item-avatar energized" id="speakers-list-item8">
        <img src="img/Hqzvls3jT3mvmR6XoW5t_Aladin.jpg">
        <h2energized>Prince Aladin</h2energized>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>